:root {
  --font-families: Lato, Helvetica, sans;
  --primary-color: rgb(92,72,58);
  --secondary-color: rgb(241,233,187);
}

body {
  font-family: var(--font-families);
  font-size: 14px;
  color: var(--primary-color);
  margin: 0px;
  padding: 0px;
}

a {
}

p {
  font-family: var(--font-families);
}

h1 {
  padding-top: 40px;
  font-weight: 800;
  margin-top: 0px;
}

h2 {
  padding-bottom: 20px;
  margin-bottom: 0px;
}

header {
  padding-bottom: 30px;
}

footer {
  text-align: center;
}
